.nn-label {
  font-size: 9pt;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
  transition: all 200ms ease;
  border-radius: 0;
  min-height: 35px;
  width: max(35px, 100%);
  border-width: 0;
  background-color: transparent;
  border: 0 none transparent;
  padding: 0.5rem;
  box-shadow: 0px 3px 0 #dadada;
  background: transparent;
  color: #272731;
}
.nn-dark .nn-label {
  box-shadow: 0px 3px 0 #101015;
  color: #eee;
}